/*
*{
    margin:0;
    padding: 20px;
}
*/

body{
    background-color: #f4f4f4;
    color: #555555;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;

    /* Same as above */
    font: 400 normal verdana, Geneva, tahoma, sans-serif; 

    line-height: 1.6em;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    }

a:hover{
    color: red;
}

a:active{
    color: green;
}
a:visited{
    color:black
}
.box-1{
    background-color: #333;
    color: #fff;

    border: 5px red solid;
    border-width: 10px;
    border-bottom-style: dashed; 

   /* examples */
            border-bottom-style: inherit;
            border-bottom-style: initial;
            border-bottom-style: revert;
            border-bottom-style: revert-layer;
            border-bottom-style: solid;

    padding: 20px;
    margin: 20px 0;

}

.box-1 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2{
    margin: 20px 0;
    border: 3px dotted #333;
    padding: 20px;
}

.container{
    margin: auto;
    width: 80%;
}          

.categories{
    padding: 10px;
    padding-left: 25px;
    border: 3px solid;
    border-radius: 15px;

}
.categories h2{
    text-align: center;
}
.categories ul{
    padding:0;
    list-style: none;
}

.categories li{
    padding: 6px;
    border-bottom: 1px dotted black;
    list-style-image: url('../images/check.png');
}